In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import lightgbm as lgb
from pandasql import sqldf
from sklearn.metrics import mean_squared_error

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_excel('C:\\Users\\osungar\\Desktop\projects\\sales_forecasting\\sales_project\\data\\satis_new.xlsx')

In [4]:
query = """
SELECT CARI_NO,STOK_NO,TOPLAM_BIRINCI_OB,OB1,TOPLAM_IKINCI_OB,OB2,SATIS_TARIHI                   
FROM df
"""

# Run the query
df_clean = sqldf(query, locals())
df_clean[:50]

,CARI_NO,STOK_NO,TOPLAM_BIRINCI_OB,OB1,TOPLAM_IKINCI_OB,OB2,SATIS_TARIHI
0,10636,1743,303.75,KG,7.000,AD,2015-04-01 00:00:00.000000
1,10657,743090,198.00,KG,1.564,B3,2015-04-01 00:00:00.000000
2,10636,1737,1558.50,KG,30.000,AD,2015-04-01 00:00:00.000000
3,10657,1979,268.00,KG,1.000,B3,2015-04-01 00:00:00.000000
4,10636,1736,762.00,KG,23.000,AD,2015-04-01 00:00:00.000000
5,10604,1988,132.00,KG,0.989,B3,2015-04-01 00:00:00.000000
6,10636,1725,1623.15,KG,32.000,AD,2015-04-01 00:00:00.000000
7,10636,1753,301.80,KG,9.000,AD,2015-04-01 00:00:00.000000
8,10604,1942,657.00,KG,4.954,B3,2015-04-01 00:00:00.000000
9,10636,1744,152.85,KG,3.000,AD,2015-04-01 00:00:00.000000
10,10657,1977,270.00,KG,2.028,B3,2015-04-01 00:00:00.000000
11,10657,1964,534.00,KG,4.018,B3,2015-04-01 00:00:00.000000
12,10636,1742,308.60,KG,7.000,AD,2015-04-01 00:00:00.000000
13,10636,1729,247.95,KG,5.000,AD,2015-04-01 00:00:00.000000
14,10636,1728,302.80,KG,7.000,AD,2015-04-01 00:00:00.000000
15,10636,1734,252.45,KG,6.000,AD,2015-04-01 00:00:00.000000
16,10636,744508,309.45,KG,7.000,AD,2015-04-01 00:00:00.000000
17,10636,1740,1111.45,KG,25.000,AD,2015-04-01 00:00:00.000000
18,10657,2023,665.00,KG,5.060,B3,2015-04-01 00:00:00.000000
19,10636,1726,2235.55,KG,50.000,AD,2015-04-01 00:00:00.000000
20,10636,1727,519.70,KG,12.000,AD,2015-04-01 00:00:00.000000
21,10657,2048,426.00,KG,3.000,B3,2015-04-01 00:00:00.000000
22,10636,1739,758.60,KG,15.000,AD,2015-04-01 00:00:00.000000
23,10657,2070,132.00,KG,1.000,B3,2015-04-01 00:00:00.000000
24,10636,1759,765.55,KG,18.000,AD,2015-04-01 00:00:00.000000
25,10657,2074,405.00,KG,3.000,B3,2015-04-01 00:00:00.000000
26,11003,3041,23.80,KG,1.000,AD,2015-04-02 00:00:00.000000
27,10657,2041,850.00,KG,6.140,B3,2015-04-02 00:00:00.000000
28,10657,1989,264.00,KG,1.982,B3,2015-04-02 00:00:00.000000
29,10657,2045,265.00,KG,1.988,B3,2015-04-02 00:00:00.000000
30,10657,1964,272.00,KG,2.047,B3,2015-04-02 00:00:00.000000
31,10846,4339,21.50,KG,2.000,AD,2015-04-02 00:00:00.000000
32,10847,2936,102.50,KG,2.000,AD,2015-04-02 00:00:00.000000
33,10657,2021,131.00,KG,0.985,B3,2015-04-02 00:00:00.000000
34,10657,2051,131.00,KG,0.981,B3,2015-04-02 00:00:00.000000
35,10567,2622,186.90,KG,4.000,AD,2015-04-02 00:00:00.000000
36,10657,2070,402.00,KG,3.000,B3,2015-04-02 00:00:00.000000
37,10576,2871,84.50,KG,2.000,AD,2015-04-02 00:00:00.000000
38,10657,1974,658.00,KG,4.957,B3,2015-04-02 00:00:00.000000
39,10657,743021,1070.00,KG,4.000,B3,2015-04-02 00:00:00.000000
40,10657,743090,208.00,KG,1.580,B3,2015-04-02 00:00:00.000000
41,10657,1965,795.00,KG,3.000,B3,2015-04-02 00:00:00.000000
42,10657,1977,796.00,KG,7.980,B3,2015-04-02 00:00:00.000000
43,10657,2074,829.00,KG,6.257,B3,2015-04-02 00:00:00.000000
44,10657,1979,541.00,KG,2.000,B3,2015-04-02 00:00:00.000000
45,10657,2023,140.00,KG,1.052,B3,2015-04-02 00:00:00.000000
46,10586,2934,248.25,KG,5.000,AD,2015-04-02 00:00:00.000000
47,10658,2028,14968.00,KG,77.720,B4,2015-04-02 00:00:00.000000
48,10657,2072,537.00,KG,4.000,B3,2015-04-02 00:00:00.000000
49,10657,2048,386.00,KG,3.000,B3,2015-04-02 00:00:00.000000

In [5]:
df_clean['SATIS_TARIHI'] = pd.to_datetime(df_clean['SATIS_TARIHI'])

In [6]:
filtered_data = df_clean[df_clean['SATIS_TARIHI'] < '2023-09-30']

In [7]:
filtered_data

,CARI_NO,STOK_NO,TOPLAM_BIRINCI_OB,OB1,TOPLAM_IKINCI_OB,OB2,SATIS_TARIHI
0,10636,1743,303.75,KG,7.000,AD,2015-04-01
1,10657,743090,198.00,KG,1.564,B3,2015-04-01
2,10636,1737,1558.50,KG,30.000,AD,2015-04-01
3,10657,1979,268.00,KG,1.000,B3,2015-04-01
4,10636,1736,762.00,KG,23.000,AD,2015-04-01
...,...,...,...,...,...,...,...
240729,10657,2004,545.00,KG,4.047,B5,2023-09-29
240730,55354,756398,48.00,AD,880.000,KG,2023-09-29
240731,55354,756715,96.00,AD,1267.550,KG,2023-09-29
240732,52917,747588,268.00,KG,2.006,B5,2023-09-29
240733,52959,4566,50.00,AD,50.000,AD,2023-09-29

In [8]:
df_date = filtered_data.copy()

In [9]:
df_date['YIL'] = df_clean['SATIS_TARIHI'].dt.year
df_date['AY'] = df_clean['SATIS_TARIHI'].dt.month

In [10]:
df_date = df_date.drop(columns=['SATIS_TARIHI'])

In [11]:
df_date_kg = df_date[df_date['OB1']=='KG']

In [12]:
df_date_kg = df_date_kg.drop(columns=['OB1'])

In [13]:
df_date_kg.tail()

        CARI_NO  STOK_NO  TOPLAM_BIRINCI_OB  TOPLAM_IKINCI_OB OB2   YIL  AY
240725    10847     3142             121.40             5.000  AD  2023   9
240726    32944   751190            4739.00            22.578  B6  2023   9
240728    51758   751682              37.45             1.000  AD  2023   9
240729    10657     2004             545.00             4.047  B5  2023   9
240732    52917   747588             268.00             2.006  B5  2023   9

In [14]:
df_date_kg_ad = df_date_kg[df_date_kg['OB2']=='AD']

In [15]:
df_date_kg_ad = df_date_kg_ad.drop(columns=['OB2'])

In [16]:
query = """
SELECT CARI_NO,STOK_NO,AY,YIL,SUM(TOPLAM_BIRINCI_OB) as OB1_AYLIK_TOPLAM        
FROM df_date_kg_ad
group by CARI_NO,STOK_NO,YIL,AY
order by YIL,AY ASC
"""

# Run the query
df_month_kg_ad = sqldf(query, locals())
df_month_kg_ad.head(10)

   CARI_NO  STOK_NO  AY   YIL  OB1_AYLIK_TOPLAM
0    10443     4332   4  2015            870.85
1    10443   744535   4  2015            300.80
2    10563     3049   4  2015             61.20
3    10564     2594   4  2015            145.20
4    10564     2595   4  2015            103.90
5    10564     2602   4  2015             92.70
6    10564     2624   4  2015             98.80
7    10564     2626   4  2015            152.55
8    10564     2628   4  2015            218.85
9    10564     2663   4  2015             48.55

In [17]:
# Quarter sütunu oluştur
df_month_kg_ad['MEVSIM'] = pd.cut(df_month_kg_ad['AY'], bins=[0, 3, 6, 9, 12], labels=['q1', 'q2', 'q3', 'q4'])

# DataFrame'i görüntüle
df_month_kg_ad

       CARI_NO  STOK_NO  AY   YIL  OB1_AYLIK_TOPLAM MEVSIM
0        10443     4332   4  2015            870.85     q2
1        10443   744535   4  2015            300.80     q2
2        10563     3049   4  2015             61.20     q2
3        10564     2594   4  2015            145.20     q2
4        10564     2595   4  2015            103.90     q2
...        ...      ...  ..   ...               ...    ...
70176    56187   754900   9  2023            469.40     q3
70177    56187   756157   9  2023            601.00     q3
70178    57210     2922   9  2023            228.75     q3
70179    57210     2924   9  2023            242.30     q3
70180    57210   756157   9  2023            101.35     q3

[70181 rows x 6 columns]

In [18]:
categorical_columns=['CARI_NO', 'STOK_NO', 'AY', 'MEVSIM']
for col in categorical_columns:
    df_month_kg_ad[col] = df_month_kg_ad[col].astype('category')

In [19]:
#OB1_AYLIK_ORTALAMA is a target
X = df_month_kg_ad.drop(columns=['OB1_AYLIK_TOPLAM'])
y = df_month_kg_ad['OB1_AYLIK_TOPLAM']

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [21]:
# create dataset for lightgbm
lgb_train = lgb.Dataset(X_train, y_train,categorical_feature=categorical_columns)
lgb_eval = lgb.Dataset(X_test, y_test, reference=lgb_train)

In [22]:
params = {
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'random_state':42
}

In [24]:
# Light Gradient Boosting Regressor
lgb_trained = lgb.train(params,
                lgb_train)

[LightGBM] [Warning] Categorical features with more bins than the configured maximum bin number found.
[LightGBM] [Warning] For categorical features, max_bin and max_bin_by_feature may be ignored with a large number of categories.
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001234 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1461
[LightGBM] [Info] Number of data points in the train set: 56144, number of used features: 5
[LightGBM] [Info] Start training from score 573.721319

In [25]:
y_pred =lgb_trained.predict(X_test)

In [26]:
print('MSE score on train data:')
print(mean_squared_error(y_test,y_pred))

MSE score on train data:
694482.3678053834

C:\anaconda3\envs\educaton\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\anaconda3\envs\educaton\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [27]:
merged_array = np.stack((y_test, y_pred), axis=1)

In [28]:
print("         y_test      ,      y_pred")
merged_array[:70]

         y_test      ,      y_pred

array([[3314.25      , 1419.8721428 ],
       [ 127.        ,  112.67534926],
       [ 168.85      ,  294.68090783],
       [  54.55      ,  -42.8816284 ],
       [  86.05      ,   98.44520248],
       [ 437.45      , 1191.22006085],
       [ 206.2       ,  125.07231468],
       [ 532.05      ,  268.75023108],
       [  80.9       ,  103.66208556],
       [  34.85      ,  239.53678861],
       [ 345.3       ,  147.38814503],
       [ 327.45      ,  179.48855762],
       [ 339.05      ,  167.28586269],
       [ 181.4       ,  143.00005883],
       [ 328.5       ,  250.88235249],
       [ 249.55      ,  230.0529944 ],
       [ 605.4       , 1395.10454335],
       [ 166.35      ,  504.58446775],
       [  65.2       ,  103.44646341],
       [  17.1       ,   45.9228632 ],
       [  36.55      ,  -30.75432076],
       [  19.3       ,   65.80915236],
       [ 224.3       ,  218.22205961],
       [2621.25      ,  907.11383727],
       [ 172.9       ,  433.0466854 ],
       [ 114.        ,   97.94025675],
       [1381.9       ,  856.01514031],
       [ 818.9       , 1086.72187943],
       [1340.3       ,  254.15492167],
       [ 931.45      ,  784.98810804],
       [ 279.9       ,  185.31274654],
       [  46.35      ,  118.53048237],
       [ 143.4       ,  117.85200184],
       [ 195.9       ,  172.89769139],
       [  49.6       ,  267.89084362],
       [ 102.3       ,  445.89321045],
       [ 179.9       ,  310.15248527],
       [ 107.9       ,  112.97571689],
       [  54.45      ,  119.2055447 ],
       [  26.25      ,   84.70698038],
       [  98.8       ,  159.5322176 ],
       [ 186.5       ,  125.85201299],
       [  55.9       ,   47.9490454 ],
       [ 202.1       ,  301.31327774],
       [ 603.55      ,  400.13714071],
       [  28.55      ,  190.71947169],
       [ 105.7       ,  143.40942818],
       [ 209.45      ,  481.83968165],
       [  51.4       ,   95.76519011],
       [ 435.1       ,  651.09646353],
       [  18.2       ,  -34.02650186],
       [2050.95      ,  654.72939558],
       [ 535.6       ,  535.93566734],
       [ 409.7       ,  398.803761  ],
       [ 200.5       ,  217.06602445],
       [ 521.        ,  923.17245485],
       [ 962.        ,  598.57343755],
       [  20.8       ,  179.29493859],
       [1275.45      , 4886.42482572],
       [ 195.5       ,  427.69044741],
       [ 880.9       , 1220.17385893],
       [ 205.2       ,  183.28209105],
       [ 454.6       , 1002.71951746],
       [ 593.75      ,  643.47532206],
       [  57.25      ,  264.27960189],
       [ 145.3       ,  124.64232388],
       [ 186.9       ,  536.66020511],
       [ 162.95      ,  176.1111919 ],
       [ 369.1       ,  227.22285038],
       [ 120.8       ,   81.4457145 ]])

# PREDICTING 10/2023

In [33]:
df_second = df_clean.copy()

In [34]:
df_second

,CARI_NO,STOK_NO,TOPLAM_BIRINCI_OB,OB1,TOPLAM_IKINCI_OB,OB2,SATIS_TARIHI
0,10636,1743,303.75,KG,7.000,AD,2015-04-01
1,10657,743090,198.00,KG,1.564,B3,2015-04-01
2,10636,1737,1558.50,KG,30.000,AD,2015-04-01
3,10657,1979,268.00,KG,1.000,B3,2015-04-01
4,10636,1736,762.00,KG,23.000,AD,2015-04-01
...,...,...,...,...,...,...,...
243846,55354,756313,7.00,AD,102.150,KG,2023-10-30
243847,10847,2897,51.25,KG,1.000,AD,2023-10-30
243848,10847,2966,249.85,KG,5.000,AD,2023-10-30
243849,10847,2980,115.95,KG,5.000,AD,2023-10-30
243850,10847,2913,48.60,KG,1.000,AD,2023-10-30

In [35]:
df_second = df_second[df_second["SATIS_TARIHI"] > '2023-09-30']
df_second = df_second[df_second["OB1"] == 'KG']
df_second = df_second[df_second["OB2"] == 'AD']

df_second['YIL'] = df_second['SATIS_TARIHI'].dt.year
df_second['AY'] = df_second['SATIS_TARIHI'].dt.month
df_second = df_second.drop(columns=['SATIS_TARIHI'])

query = """
SELECT CARI_NO,STOK_NO,AY,YIL,SUM(TOPLAM_BIRINCI_OB) as OB1_AYLIK_TOPLAM        
FROM df_second
group by CARI_NO,STOK_NO,YIL,AY
order by YIL,AY ASC
"""

# Run the query
df_second = sqldf(query, locals())
df_second

     CARI_NO  STOK_NO  AY   YIL  OB1_AYLIK_TOPLAM
0      10443   745358  10  2023           3121.75
1      10443   755789  10  2023            397.40
2      10564     2897  10  2023             99.05
3      10564     2899  10  2023             52.30
4      10564     2936  10  2023            693.35
..       ...      ...  ..   ...               ...
727    57210     2922  10  2023            229.45
728    57210     2924  10  2023            485.45
729    57210   756157  10  2023             39.85
730    57439     3089  10  2023            170.95
731    57439     3091  10  2023            407.00

[732 rows x 5 columns]

In [36]:
df_second.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CARI_NO           732 non-null    int64
 1   STOK_NO           732 non-null    int64
 2   AY                732 non-null    int64
 3   YIL               732 non-null    int64
 4   OB1_AYLIK_TOPLAM  732 non-null    float64
dtypes: float64(1), int64(4)
memory usage: 28.7 KB

In [37]:
X

      CARI_NO STOK_NO AY   YIL MEVSIM
0       10443    4332  4  2015     q2
1       10443  744535  4  2015     q2
2       10563    3049  4  2015     q2
3       10564    2594  4  2015     q2
4       10564    2595  4  2015     q2
...       ...     ... ..   ...    ...
70176   56187  754900  9  2023     q3
70177   56187  756157  9  2023     q3
70178   57210    2922  9  2023     q3
70179   57210    2924  9  2023     q3
70180   57210  756157  9  2023     q3

[70181 rows x 5 columns]

In [38]:
df_prediction = X.copy()

In [39]:
df_prediction['AY'] = 10
df_prediction['YIL'] = 2023
df_prediction['MEVSIM'] = 'q4'

In [40]:
df_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70181 entries, 0 to 70180
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CARI_NO  70181 non-null  category
 1   STOK_NO  70181 non-null  category
 2   AY       70181 non-null  int64
 3   YIL      70181 non-null  int64
 4   MEVSIM   70181 non-null  object
dtypes: category(2), int64(2), object(1)
memory usage: 2.0+ MB

In [41]:
categorical_columns=['CARI_NO', 'STOK_NO', 'AY','MEVSIM']
for col in categorical_columns:
    df_prediction[col] = df_prediction[col].astype('category')

In [42]:
df_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70181 entries, 0 to 70180
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CARI_NO  70181 non-null  category
 1   STOK_NO  70181 non-null  category
 2   AY       70181 non-null  category
 3   YIL      70181 non-null  int64
 4   MEVSIM   70181 non-null  category
dtypes: category(4), int64(1)
memory usage: 1.0 MB

In [43]:
df_prediction = df_prediction.drop_duplicates(subset=['CARI_NO', 'STOK_NO'])
df_prediction

      CARI_NO STOK_NO  AY   YIL MEVSIM
0       10443    4332  10  2023     q4
1       10443  744535  10  2023     q4
2       10563    3049  10  2023     q4
3       10564    2594  10  2023     q4
4       10564    2595  10  2023     q4
...       ...     ...  ..   ...    ...
70171   56187  753765  10  2023     q4
70172   56187  754513  10  2023     q4
70174   56187  754670  10  2023     q4
70178   57210    2922  10  2023     q4
70179   57210    2924  10  2023     q4

[9538 rows x 5 columns]

In [44]:
df_prediction.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9538 entries, 0 to 70179
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CARI_NO  9538 non-null   category
 1   STOK_NO  9538 non-null   category
 2   AY       9538 non-null   category
 3   YIL      9538 non-null   int64
 4   MEVSIM   9538 non-null   category
dtypes: category(4), int64(1)
memory usage: 293.9 KB

In [45]:
y_pred =lgb_trained.predict(df_prediction)

In [46]:
df_prediction

      CARI_NO STOK_NO  AY   YIL MEVSIM
0       10443    4332  10  2023     q4
1       10443  744535  10  2023     q4
2       10563    3049  10  2023     q4
3       10564    2594  10  2023     q4
4       10564    2595  10  2023     q4
...       ...     ...  ..   ...    ...
70171   56187  753765  10  2023     q4
70172   56187  754513  10  2023     q4
70174   56187  754670  10  2023     q4
70178   57210    2922  10  2023     q4
70179   57210    2924  10  2023     q4

[9538 rows x 5 columns]

In [47]:
df_prediction['TAHMIN'] = y_pred

In [48]:
df_prediction

      CARI_NO STOK_NO  AY   YIL MEVSIM       TAHMIN
0       10443    4332  10  2023     q4  1102.640581
1       10443  744535  10  2023     q4   940.912152
2       10563    3049  10  2023     q4   614.971785
3       10564    2594  10  2023     q4    64.203752
4       10564    2595  10  2023     q4   143.754785
...       ...     ...  ..   ...    ...          ...
70171   56187  753765  10  2023     q4   313.020770
70172   56187  754513  10  2023     q4   346.960353
70174   56187  754670  10  2023     q4   430.115970
70178   57210    2922  10  2023     q4   940.401166
70179   57210    2924  10  2023     q4   888.806008

[9538 rows x 6 columns]

In [49]:
df_second

     CARI_NO  STOK_NO  AY   YIL  OB1_AYLIK_TOPLAM
0      10443   745358  10  2023           3121.75
1      10443   755789  10  2023            397.40
2      10564     2897  10  2023             99.05
3      10564     2899  10  2023             52.30
4      10564     2936  10  2023            693.35
..       ...      ...  ..   ...               ...
727    57210     2922  10  2023            229.45
728    57210     2924  10  2023            485.45
729    57210   756157  10  2023             39.85
730    57439     3089  10  2023            170.95
731    57439     3091  10  2023            407.00

[732 rows x 5 columns]

In [50]:
query = """
SELECT p.CARI_NO,s.STOK_NO,p.AY,p.YIL,p.MEVSIM,p.TAHMIN,s.OB1_AYLIK_TOPLAM
FROM df_second as s
LEFT JOIN df_prediction as p ON s.CARI_NO = p.CARI_NO AND s.STOK_NO = p.STOK_NO;
"""

# Run the query
df_merged = sqldf(query, locals())
df_merged.head(50)

   CARI_NO  STOK_NO  AY     YIL MEVSIM       TAHMIN  OB1_AYLIK_TOPLAM
0    10443   745358  10  2023.0     q4  2707.651790           3121.75
1    10443   755789  10  2023.0     q4   927.342149            397.40
2    10564     2897  10  2023.0     q4   320.507860             99.05
3    10564     2899  10  2023.0     q4   180.960442             52.30
4    10564     2936  10  2023.0     q4   458.573985            693.35
5    10564     2938  10  2023.0     q4   405.502022            458.10
6    10564     2964  10  2023.0     q4    99.174687             48.85
7    10564     2968  10  2023.0     q4   158.337679            104.20
8    10564     3065  10  2023.0     q4    93.610967            159.50
9    10564     3075  10  2023.0     q4    84.263093            142.50
10   10564     3093  10  2023.0     q4    74.803326             47.25
11   10564     3183  10  2023.0     q4   138.606018            160.40
12   10564     3196  10  2023.0     q4    71.830324             94.20
13   10564     3203  10  2023.0     q4    99.769438            103.55
14   10564   743463  10  2023.0     q4   225.561900             53.10
15   10564   754783  10  2023.0     q4   249.456197            275.50
16   10564   754784  10  2023.0     q4   255.646284            223.45
17   10564   756155  10  2023.0     q4   143.345013             25.75
18   10564   756157  10  2023.0     q4   558.727329            267.05
19   10566     2628  10  2023.0     q4   353.959337            683.80
20   10566     2924  10  2023.0     q4  1226.204520           1814.75
21   10566     2938  10  2023.0     q4   673.330338            341.85
22   10566     2986  10  2023.0     q4    83.907471             67.55
23   10566     2988  10  2023.0     q4   122.330361             69.05
24   10566     3187  10  2023.0     q4   119.382705            169.85
25   10566     3189  10  2023.0     q4   329.992580            699.15
26   10566     3191  10  2023.0     q4   374.735880            614.45
27   10566     3193  10  2023.0     q4   110.613102             87.00
28   10566     3194  10  2023.0     q4   121.550614             91.55
29   10566     3196  10  2023.0     q4   125.222698            234.20
30   10566     4501  10  2023.0     q4   -27.979877              5.00
31   10566   750844  10  2023.0     q4   131.912102            103.70
32   10566   750848  10  2023.0     q4   182.650660            247.70
33   10566   750868  10  2023.0     q4   141.801594            237.65
34   10566   750880  10  2023.0     q4   130.080696            223.30
35   10568     2463  10  2023.0     q4   270.846684            154.75
36   10568     2465  10  2023.0     q4   423.077857            159.75
37   10568     2467  10  2023.0     q4   361.779888            172.05
38   10568     2598  10  2023.0     q4    83.306100             66.10
39   10568     2610  10  2023.0     q4   191.486301             56.50
40   10568     2614  10  2023.0     q4   279.986367            361.55
41   10568     2620  10  2023.0     q4   109.082054            108.05
42   10568     2624  10  2023.0     q4   362.983906            103.45
43   10568     2678  10  2023.0     q4     4.723992             55.90
44   10568     2680  10  2023.0     q4   120.268600            149.40
45   10568     2734  10  2023.0     q4   306.723603             59.40
46   10568     2740  10  2023.0     q4   117.309012             51.50
47   10568     2742  10  2023.0     q4    75.451547             56.05
48   10568     2853  10  2023.0     q4   117.003819            184.50
49   10568   743463  10  2023.0     q4   323.666839            132.20

In [51]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CARI_NO           677 non-null    object
 1   STOK_NO           732 non-null    int64
 2   AY                677 non-null    object
 3   YIL               677 non-null    float64
 4   MEVSIM            677 non-null    object
 5   TAHMIN            677 non-null    float64
 6   OB1_AYLIK_TOPLAM  732 non-null    float64
dtypes: float64(3), int64(1), object(3)
memory usage: 40.2+ KB

In [52]:
df_merged.isnull().sum()

CARI_NO             55
STOK_NO              0
AY                  55
YIL                 55
MEVSIM              55
TAHMIN              55
OB1_AYLIK_TOPLAM     0
dtype: int64

In [53]:
query = """
SELECT *
FROM df_merged
where CARI_NO IS NULL
"""

# Run the query
test = sqldf(query, locals())
test

   CARI_NO  STOK_NO    AY   YIL MEVSIM TAHMIN  OB1_AYLIK_TOPLAM
0     None     2437  None  None   None   None             35.90
1     None     2472  None  None   None   None            140.35
2     None     2474  None  None   None   None            311.05
3     None     2476  None  None   None   None            380.50
4     None     2561  None  None   None   None             14.40
5     None     2625  None  None   None   None             64.85
6     None     2935  None  None   None   None            691.25
7     None     3010  None  None   None   None             18.05
8     None     3012  None  None   None   None            391.85
9     None     4166  None  None   None   None             34.05
10    None   745749  None  None   None   None            142.40
11    None   752391  None  None   None   None            211.65
12    None   755422  None  None   None   None             55.45
13    None     2670  None  None   None   None             98.05
14    None     2879  None  None   None   None             99.15
15    None     2919  None  None   None   None            114.35
16    None     4168  None  None   None   None             69.35
17    None   747623  None  None   None   None            257.20
18    None   750872  None  None   None   None             74.25
19    None   758384  None  None   None   None             35.60
20    None     2917  None  None   None   None            266.85
21    None     2919  None  None   None   None            287.10
22    None   743463  None  None   None   None             27.90
23    None     2598  None  None   None   None            166.50
24    None     2600  None  None   None   None            199.95
25    None     2898  None  None   None   None             16.40
26    None     2961  None  None   None   None             60.40
27    None   753764  None  None   None   None            203.90
28    None     2432  None  None   None   None            304.45
29    None     2434  None  None   None   None            311.30
30    None   751745  None  None   None   None             55.90
31    None   756024  None  None   None   None             47.80
32    None   758723  None  None   None   None            172.65
33    None   758739  None  None   None   None            115.85
34    None     2708  None  None   None   None            160.35
35    None     2710  None  None   None   None            162.35
36    None   743463  None  None   None   None             13.00
37    None   758839  None  None   None   None            571.75
38    None   751403  None  None   None   None            116.50
39    None   755050  None  None   None   None            156.80
40    None   747779  None  None   None   None            229.60
41    None   754556  None  None   None   None            223.75
42    None   758739  None  None   None   None            349.85
43    None     2590  None  None   None   None             48.55
44    None     2650  None  None   None   None             17.85
45    None     2835  None  None   None   None             35.60
46    None     2438  None  None   None   None            231.45
47    None   759196  None  None   None   None          12733.95
48    None     2964  None  None   None   None            194.45
49    None     2966  None  None   None   None            755.50
50    None     3057  None  None   None   None            148.10
51    None     3059  None  None   None   None            167.00
52    None     3061  None  None   None   None            171.85
53    None     3089  None  None   None   None            170.95
54    None     3091  None  None   None   None            407.00

In [54]:
merged = df_merged.dropna()

In [56]:
query = """
SELECT *
FROM merged
order by OB1_AYLIK_TOPLAM DESC;
"""

# Run the query
df_last = sqldf(query, locals())
df_last.head(50)

   CARI_NO  STOK_NO  AY     YIL MEVSIM        TAHMIN  OB1_AYLIK_TOPLAM
0    10599   757032  10  2023.0     q4   1253.292603          23690.50
1    10652   743069  10  2023.0     q4  10878.170886          10205.00
2    10700   757700  10  2023.0     q4   1916.222799           7100.70
3    55963   757622  10  2023.0     q4    433.557121           6274.25
4    42154     2924  10  2023.0     q4   3222.876641           5468.65
5    47698   751781  10  2023.0     q4   7114.017027           5372.35
6    10847   743463  10  2023.0     q4   2638.160866           5266.20
7    42154     2936  10  2023.0     q4   4560.570583           3909.70
8    42154     2934  10  2023.0     q4   3542.742724           3230.80
9    51970     2614  10  2023.0     q4    567.027280           3192.10
10   10443   745358  10  2023.0     q4   2707.651790           3121.75
11   47698   751945  10  2023.0     q4   5055.563707           3050.60
12   10700     2744  10  2023.0     q4   3411.440301           2884.95
13   10847   754784  10  2023.0     q4   1278.270726           2773.95
14   51758     2938  10  2023.0     q4   3687.407570           2745.20
15   51758     2936  10  2023.0     q4   4247.520003           2676.75
16   55833   756156  10  2023.0     q4   2230.349824           2493.05
17   51758   756156  10  2023.0     q4   2606.337532           2452.35
18   42154   754514  10  2023.0     q4   1285.540307           2431.35
19   42154   743463  10  2023.0     q4   2734.871523           2406.50
20   51758   752123  10  2023.0     q4   1359.232245           2376.55
21   10700   754394  10  2023.0     q4   1916.222799           2355.20
22   10582   754981  10  2023.0     q4   1638.089386           2319.85
23   10847   756157  10  2023.0     q4   2445.663758           2311.60
24   11011     2936  10  2023.0     q4    529.784189           2291.55
25   10847     2924  10  2023.0     q4   1229.923876           2252.15
26   51758     2934  10  2023.0     q4   3157.798483           2236.60
27   51758   753552  10  2023.0     q4    649.420720           2164.05
28   51758   752433  10  2023.0     q4   1061.328001           2122.15
29   10700   754392  10  2023.0     q4   1916.222799           2062.80
30   10700   757698  10  2023.0     q4   1916.222799           2037.55
31   42154     2938  10  2023.0     q4   4042.605810           2006.70
32   42154   752123  10  2023.0     q4   1285.413007           1973.85
33   10575     2467  10  2023.0     q4    650.128771           1959.40
34   51758   743463  10  2023.0     q4   2745.252512           1926.60
35   10579     2415  10  2023.0     q4   1058.325856           1833.00
36   49274     2614  10  2023.0     q4   1349.974687           1822.35
37   10566     2924  10  2023.0     q4   1226.204520           1814.75
38   51758   753553  10  2023.0     q4    405.779840           1728.10
39   10700     2608  10  2023.0     q4   2748.361774           1727.00
40   10582     2919  10  2023.0     q4    609.228804           1724.40
41   49274     2612  10  2023.0     q4   1006.842662           1719.15
42   10847   754715  10  2023.0     q4    951.635716           1705.50
43   10847     2936  10  2023.0     q4   2260.722153           1705.30
44   42154   756157  10  2023.0     q4   3108.774583           1702.65
45   51900   756822  10  2023.0     q4    814.690690           1675.00
46   55833     2628  10  2023.0     q4   1477.909765           1641.05
47   51758     3160  10  2023.0     q4    393.404909           1614.15
48   10847   756156  10  2023.0     q4   1998.311953           1597.95
49   10588     2924  10  2023.0     q4   1755.915380           1577.20

In [57]:
df_last2 = df_last.copy()

In [58]:
df_last2['TAHMIN'] = df_last2['TAHMIN']*1.1

In [59]:
df_last2[:50]

   CARI_NO  STOK_NO  AY     YIL MEVSIM        TAHMIN  OB1_AYLIK_TOPLAM
0    10599   757032  10  2023.0     q4   1378.621863          23690.50
1    10652   743069  10  2023.0     q4  11965.987975          10205.00
2    10700   757700  10  2023.0     q4   2107.845079           7100.70
3    55963   757622  10  2023.0     q4    476.912833           6274.25
4    42154     2924  10  2023.0     q4   3545.164305           5468.65
5    47698   751781  10  2023.0     q4   7825.418730           5372.35
6    10847   743463  10  2023.0     q4   2901.976953           5266.20
7    42154     2936  10  2023.0     q4   5016.627642           3909.70
8    42154     2934  10  2023.0     q4   3897.016996           3230.80
9    51970     2614  10  2023.0     q4    623.730008           3192.10
10   10443   745358  10  2023.0     q4   2978.416969           3121.75
11   47698   751945  10  2023.0     q4   5561.120078           3050.60
12   10700     2744  10  2023.0     q4   3752.584331           2884.95
13   10847   754784  10  2023.0     q4   1406.097798           2773.95
14   51758     2938  10  2023.0     q4   4056.148327           2745.20
15   51758     2936  10  2023.0     q4   4672.272003           2676.75
16   55833   756156  10  2023.0     q4   2453.384806           2493.05
17   51758   756156  10  2023.0     q4   2866.971286           2452.35
18   42154   754514  10  2023.0     q4   1414.094338           2431.35
19   42154   743463  10  2023.0     q4   3008.358675           2406.50
20   51758   752123  10  2023.0     q4   1495.155470           2376.55
21   10700   754394  10  2023.0     q4   2107.845079           2355.20
22   10582   754981  10  2023.0     q4   1801.898324           2319.85
23   10847   756157  10  2023.0     q4   2690.230134           2311.60
24   11011     2936  10  2023.0     q4    582.762608           2291.55
25   10847     2924  10  2023.0     q4   1352.916263           2252.15
26   51758     2934  10  2023.0     q4   3473.578331           2236.60
27   51758   753552  10  2023.0     q4    714.362792           2164.05
28   51758   752433  10  2023.0     q4   1167.460801           2122.15
29   10700   754392  10  2023.0     q4   2107.845079           2062.80
30   10700   757698  10  2023.0     q4   2107.845079           2037.55
31   42154     2938  10  2023.0     q4   4446.866391           2006.70
32   42154   752123  10  2023.0     q4   1413.954308           1973.85
33   10575     2467  10  2023.0     q4    715.141649           1959.40
34   51758   743463  10  2023.0     q4   3019.777764           1926.60
35   10579     2415  10  2023.0     q4   1164.158442           1833.00
36   49274     2614  10  2023.0     q4   1484.972156           1822.35
37   10566     2924  10  2023.0     q4   1348.824972           1814.75
38   51758   753553  10  2023.0     q4    446.357824           1728.10
39   10700     2608  10  2023.0     q4   3023.197951           1727.00
40   10582     2919  10  2023.0     q4    670.151684           1724.40
41   49274     2612  10  2023.0     q4   1107.526928           1719.15
42   10847   754715  10  2023.0     q4   1046.799288           1705.50
43   10847     2936  10  2023.0     q4   2486.794368           1705.30
44   42154   756157  10  2023.0     q4   3419.652041           1702.65
45   51900   756822  10  2023.0     q4    896.159759           1675.00
46   55833     2628  10  2023.0     q4   1625.700741           1641.05
47   51758     3160  10  2023.0     q4    432.745400           1614.15
48   10847   756156  10  2023.0     q4   2198.143149           1597.95
49   10588     2924  10  2023.0     q4   1931.506918           1577.20